<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HttpToSocks5Proxy" version="1.1.0" targetFramework="net471" />
  <package id="LiteDB" version="4.1.4" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net471" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net471" />
  <package id="Telegram.Bot" version="14.10.0" targetFramework="net471" />
</packages>